* {
    margin: 0;
    padding: 0;
}

#test {
    height: 100vh;
    text-align: center;
    padding: 20px;
}

h3 {
    font-size: 4em;
    color: yellow;
    text-shadow: 5px 5px 10px rgb(126, 63, 27);
}

#colors {
    padding: 15px;
    margin: 20px;
}